<p><%= t('.greeting', recipient: @resource.email) %></p>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), 'https://edm.su/user/password-recovery/success?reset_password_token='+@token %></p>

<p><%= t('.instruction_2') %></p>
<p><%= t('.instruction_3') %></p>
